/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}
img.header-logo-image{
//position: relative;
//top: 10px;
}

ul.desktop-nav-links-container.right
{
    position : absolute;
    margin: 0;
    right: 0;
}
a.sidenav-trigger.header-navbar-trigger
{
    position: absolute;
    top : -95% !important;;

}



div.homepage-posts-container
{
    margin-top: 20px;
}

i.header-create-icon.small
{
    position: relative;
    top : 2px;
    display:inline-block !important;
    left: 5px;
    font-size: 15px;
}
a.create-post-link.btn
{
    padding-bottom: 5px!important;
    font-size: 12px;
    padding-top: px !important;
    position: relative;
    top: 0px;
    color: wheat;
    right : -20px;

}
.sidenav li > a > i,  .sidenav li > a > i.material-icons,a
{
    float: none;
    margin: 0;
    color: #607d8b;

}


.sidenav li > a {
    right: 0 !important;
}



ul.footer-links-container
{
    display: inline-block;
    float: right;
}

ul li.footer-link
{
    display: inline !important;
    margin-left: 10px;

}


footer {
    position: absolute !important;
    bottom: 20px;
    left: 0;
    right: 0;
    width: inherit;
    display: block !important;
    height : 40px;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}

a.header-drop-down-product-type-close
{
    font-size: 10px;
}

ul.desktop-drop-down a.header-drop-down-product-type-close  span.material-icons {
    display: inline-block !important;
    //font-size: 15 px;
    position: relative;
    bottom: -1px;
}


ul.mobile-drop-down  a.header-drop-down-product-type-close span.material-icons {
    display: inline-block !important;
//font-size: 15 px;
    position: relative;
    top: 13px;
}

a.header-subcategory-link
{
    font-size: 12px !important;
}


.home-page-banner-container.parallax-container {

    background-color: #363d49;
    background-image: url('/img/homepage-hero-1x.jpg');
    background-size: cover;
    background-color: #052149;
//background-position-y: -30%;
    background-repeat: no-repeat;
}
.text-color-444 {


    color : #444!important;

    }

/* label focus color */
.input-field.home-search-field input[type=text]:focus + label {
    color: grey;
}
#homepage-search-text
{
    color : #fff;
    border : 1px solid rgba(192 , 192 , 192 , .3);
    box-shadow: none;
    padding: 5px 10px;
    height : 43px;
    width : 70%;
    border-right: none;


}

#homepage-search-button
{
    background :teal;
    border : 1px solid rgba(192 , 192 , 192 , .3);
    border-left:none;
    border-right: none;
    display: inline;
    cursor: pointer;
    position: relative;
    right:15px;
    font-size: 12px !important;
//background-color: yellow;
    width : 40px;
    height:55px;
    text-align: center;
}



.container.home-page-header-texts-container
{
    position: relative;
    top: 20px;

}

@media only screen and (min-width:993px)
{

    .container.home-page-header-texts-container
    {
        position: relative;
        top: 30px;

    }

    .home-page-banner-container.parallax-container {

        background-image: url('/img/woman-typing.jpeg');
        width: 100%;
        top: -6px;
    }

    .header-logo-image.brand-logo
    {
        float: left !important;
        left : -35px;
        margin-left: -20px;
    }

}
#header-login-link , .walled-button
{
    box-shadow: none;
    border : 1px solid rgba(192 , 192 , 192 , .4);
    border-radius: 5px;
    text-transform: none;

}
@media only screen and (min-width:481px){

    #homepage-search-text
    {
        width : 350px;
    }
}
fieldset,legend
{
    border: none;
}

footer a, footer a:hover {
    text-decoration: none;
}

select
{
    cursor: pointer !important;
}
span.logged-username-text
{
    position: relative;
    top: -6px;
}

#navbar-account-balance
{
    font-size: 20px;
    font-weight: bolder;
    opacity: .7
}